<li>

  <div class="collapsible-header">
    <div class="row">
      <div class="col s2">
        <i class="material-icons">list</i>
      </div>
      <div class="col s6">
        <%= list.title %>
      </div>
      <div class="col s2">
        <%= link_to "Edit", edit_list_path(list), class: "btn-flat" %>
      </div>

      <% if show_delete %>
        <div class="col s2">
          <%= link_to "Delete", list_path(list), method: :delete, class: "btn-flat" if show_delete %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="collapsible-body">

    <div class="container">
      <div class="section">
        <div col="row">
          <%= link_to "New Task", new_list_task_path(list), class: "waves-effect waves-light btn col s10 offset-s1" %>
        </div>
      </div>
    </div>

    <table class="bordered highlight centered">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      <%= render partial: "dashboard/task_row", collection: list.tasks, as: :task %>
      </tbody>
    </table>
  </div>

</li>
