<div class="section center-align">
  <h5>Task Lists</h5>
  <div class="divider"></div>
  <div class="section">
    <%= link_to "New List", new_list_path, class: "waves-effect waves-light btn" %>
  </div>
</div>

<table class="bordered highlight centered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Archive</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>List 1</td>
    <td><%= link_to "Edit", class: "btn-flat"%></td>
    <td><%= link_to "Archive", class: "btn-flat" %></td>
  </tr>
  <tr>
    <td>List 2</td>
    <td><%= link_to "Edit", class: "btn-flat"%></td>
    <td><%= link_to "Archive", class: "btn-flat" %></td>
  </tr>
  <tr>
    <td>List 3</td>
    <td><%= link_to "Edit", class: "btn-flat"%></td>
    <td><%= link_to "Archive", class: "btn-flat" %></td>
  </tr>
  </tbody>
</table>
